@import "tailwindcss";

@theme {
  --font-utama: var(--font-poppins);

  --color-hitam-utama: #030303;
  --color-border-nav: #4d4d4d;

  /* Komentar dipindah ke atas agar tidak merusak sistem opasitas Tailwind */
  /* Royal Blue */
  --color-brand-blue: #3b82f6;
  /* Emerald Green */
  --color-brand-green: #10b981;

  --color-brand-blue1: #62d9ff;
  --color-bg-card: #0a1120;
  --color-text-secondary: #9ca3af;
  --color-text-body: #8b949e;
  --color-badge-bg: #172554;
  --color-badge-text: #60a5fa;

  --color-accent-blue: #3b82f6;
  --color-accent-green: #10b981;

  /* Menggunakan kode Hex langsung agar lebih stabil di semua browser */
  --bg-gradient-altan: linear-gradient(to right, #10b981, #3b82f6);
}

@utility text-gradient-altan {
  background-image: linear-gradient(to right, #10b981, #3b82f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@layer base {
  :root {
    --background: #030303;
    --foreground: #ffffff;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-utama), sans-serif;
  }
}
